@top_drawer_bg_color:		#2f2f2f;
@top_drawer_text_color:	#c5c5c5;
@top_bar_bg_color:		#F8F8F8;
@top_bar_text_color:		#888888;
@primary_color:			#0cb4ce;
@border_color:			#eee;
@secondary_color:			#222222;
@text_color:				#444444;
@text_secondary_color:				#666;
@meta_text_color:			#999999;
@heading_color:			#222222;
@bold_color:				#222222;
@footer_bg_color:			#222;
@footer_text_color:		#888888;
@footer_heading_text_color:#FFFFFF;
@bottom_bar_bg_color:		#111;
@bottom_bar_text_color:	#878787;
@link_color:				#0cb4ce;
@link_color_hover:		#0cb4ce;
@link_color_active:		#0cb4ce;
@menu_font:				'Roboto';
@secondary_font:				'Roboto';
@primary_font:				'Roboto';
@page_title_text_color:	#FFFFFF;
@page_title_bg_color:		#2a2a2a;
@page_title_overlay_color:	#000;
@page_title_overlay_opacity:	0.5;
@logo_max_height:	27px;
@logo_padding:	24px;
@header_1_main_menu_height:	75px;
@header_2_main_menu_height:	50px;
@header_3_main_menu_height:	50px;
@logo_mobile_max_height:	42px;
@logo_mobile_padding:	20px;
@main_menu_mobile_height:	82px;
@menu_text_color:	#111;
@menu_text_hover_color:	#0cb4ce;
@menu_text_bg_hover_color:	transparent;
@menu_bg_color:	transparent;
@menu_sub_bg_color:	#111111;
@menu_sub_bg_hover_color:	#222222;
@menu_sub_text_color:	#AAAAAA;
@menu_sub_text_hover_color:	#ffffff;
@header_border_color:	#eee;
@theme_url:"http://phanlong.dev/hemelios/wp-content/themes/hemelios/";
@header_background_color:	#fff;
@header_sticky_bg:	#fff;
@header_margin_top:	0px;
