a {
	.easing-animation();
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: none;
	}
}

/* Utilities core */
@transition-time: 0.3s;
@transition-longtime: 0.6s;

.easing-animation(@type: all) {
	transition: @type @transition-time ease-out;
}

.easing-animation-long(@type: all) {
	transition: @type @transition-longtime ease-out;
}

/* Block position*/
.middle {
	position:  relative;
	top:       50%;
	transform: translateY(-50%);
}

.ab-middle {
	position:  absolute;
	top:       50%;
	transform: translateY(-50%);
}

.ab-bottom {
	position: absolute;
	bottom:   0;
}

.ab-center {
	position:  absolute;
	top:       50%;
	left:      50%;
	transform: translate(-50%, -50%);
}

.cell-vertical-wrapper {
	display: table;
	width:   100%;
	height:  100%;

	.cell-middle {
		display:        table-cell;
		vertical-align: middle;
	}

	.cell-bottom {
		display:        table-cell;
		vertical-align: bottom;
	}
}

/* Fixed ratio */
.fixed-ratio(@width:1 ; @height:1) {
	position:    relative;
	display:     block;
	height:      0;
	padding-top: @height / @width * 100%;

	> *:only-child {
		position:   absolute;
		top:        50%;
		left:       0;
		transform:  translateY(-50%);
		width:      100%;
		max-height: 100%;
		overflow:   auto
	}
}

.fixed-ratio-1-1 {
	.fixed-ratio();
}


.fixed-ratio-1-2 {
	.fixed-ratio(1; 2);
}


.fixed-ratio-2-1 {
	.fixed-ratio(2; 1);
}


.fixed-ratio-1-3 {
	.fixed-ratio(2; 1);
}


.fixed-ratio-3-1 {
	.fixed-ratio(2; 1);
}


.fixed-ratio-2-3 {
	.fixed-ratio(2; 1);
}


.fixed-ratio-3-2 {
	.fixed-ratio(2; 1);
}


/* Text util */
.text-center{
	text-align : center;
}
.text-left{
	text-align : left;
}
.text-right{
	text-align : right;
}

@media (min-width: @screen-lg-min) {
	.text-center-lg{
		text-align : center;
	}
	.text-left-lg{
		text-align : left;
	}
	.text-right-lg{
		text-align : right;
	}
}

@media (min-width: @screen-md-min) {
	.text-center-md{
		text-align : center;
	}
	.text-left-md{
		text-align : left;
	}
	.text-right-md{
		text-align : right;
	}
}

@media (min-width: @screen-sm-min) {
	.text-center-sm{
		text-align : center;
	}
	.text-left-sm{
		text-align : left;
	}
	.text-right-sm{
		text-align : right;
	}
}
@media (min-width: @screen-md-max) {
	.text-center-md-max{
		text-align : center;
	}
	.text-left-md-max{
		text-align : left;
	}
	.text-right-md-max{
		text-align : right;
	}
}

@media (min-width: @screen-sm-max ){
	.text-center-sm-max{
		text-align : center;
	}
	.text-left-sm-max{
		text-align : left;
	}
	.text-right-sm-max{
		text-align : right;
	}
}

@media (min-width: @screen-xs-max) {
	.text-center-xs-max{
		text-align : center;
	}
	.text-left-xs-max{
		text-align : left;
	}
	.text-right-xs-max{
		text-align : right;
	}
}


/*==========*/
.post-navigation {
	padding:  0;
	display:  table;
	width:    100%;
	position: relative;
	.nav-links {
		width:         100%;
		margin:        0 auto;
		display:       table;
		border-top:    solid 1px @border_color;
		border-bottom: solid 1px @border_color;
	}
	.nav-previous,
	.nav-next {
		position:       relative;
		vertical-align: middle;
		padding:        15px 0;
		width:          50%;
		.transition();
		float:          left;
		.post-navigation-content {
			margin-left: 30px;
		}
		&:hover {
			.post-navigation-icon,
			.post-navigation-title {
				color: @primary_color;
			}
		}
	}
	.nav-next {
		float:      right;
		text-align: right;
		.post-navigation-content {
			margin-left:  0;
			margin-right: 30px;
		}
	}

	.post-navigation-label {
		display:        block;
		font-size:      0.75em;
		font-weight:    normal;
		text-transform: uppercase;
		margin-bottom:  5px;
		color:          @text_color;
	}

	.post-navigation-title {
		-ms-word-wrap:  break-word;
		word-wrap:      break-word;
		font-size:      15px;
		font-weight:    400;
		text-transform: none;
		color:          @secondary_color;
	}

	.post-navigation-icon {
		font-size:   14px;
		line-height: 1em;
		width:       60px;
		display:     inline-block;
		position:    absolute;
		top:         50%;
		margin-top:  -7px;
		color:       @text_color;

	}
	.nav-links .nav-next .post-navigation-icon {
		right: 0;
	}
}

/* -----------------------------------------------------------------------------
 * Wordpress Default Style
 * -------------------------------------------------------------------------- */
img {
	max-width: 100%;
	height:    auto;
}

.alignnone {
	margin: 15px 15px 0 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin:  15px auto 15px auto;
}

.alignright {
	float:  right;
	margin: 15px 0 15px 15px;
}

.alignleft {
	float:  left;
	margin: 15px 15px 15px 0;
}

.aligncenter {
	display: block;
	margin:  15px auto 15px auto;
}

a img.alignright {
	float:  right;
	margin: 15px 0 0 15px;
}

a img.alignnone {
	margin: 15px 15px 0 0;
}

a img.alignleft {
	float:  left;
	margin: 15px 15px 0 0;
}

a img.aligncenter {
	display:      block;
	margin-left:  auto;
	margin-right: auto;
}

.wp-caption {
	background: #fff;
	text-align: center;
	max-width:  100%;
}

.wp-caption.alignnone {
	margin: 15px 15px 30px 0;
}

.wp-caption.alignleft {
	margin: 15px 15px 30px 0;
}

.wp-caption.alignright {
	margin: 15px 0 30px 15px;
}

.wp-caption img {
	border:  0 none;
	height:  auto;
	margin:  0;
	padding: 0;
	width:   auto;
}

.wp-caption p.wp-caption-text {
	font-size:   0.9em;
	font-style:  italic;
	opacity:     0.7;
	line-height: 17px;
	margin:      1em 0 0 0;
	padding:     0 10%;
}

.wp-post-image {
	height:    auto;
	max-width: 100%;
}

.sticky {
	opacity: 1;
}

.bypostauthor {
	opacity: 1;
}

/**
 * 5.4 Galleries
 * ----------------------------------------------------------------------------
 */

.gallery {
	margin-bottom: 20px;
	margin-left:   -4px;
}

.gallery:before {
	content: "";
	display: table;
}

.gallery:after {
	clear:   both;
	content: "";
	display: block;
}

.gallery-item {
	float:    left;
	margin:   0 4px 4px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
	display: table;
	margin:  0 auto 20px;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
	text-align: center;
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width: calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing:       border-box;
	color:            #fff;
	font-size:        14px;
	line-height:      1.3;
	margin:           0;
	max-height:       50%;
	opacity:          0;
	padding:          2px 8px;
	position:         absolute;
	bottom:           0;
	left:             0;
	text-align:       left;
	.transition-all(opacity 400ms ease);
	width:            100%;
}

.gallery-caption:before {
	box-shadow: 0 -10px 15px #000 inset;
	content:    "";
	height:     100%;
	min-height: 49px;
	position:   absolute;
	left:       0;
	top:        0;
	width:      100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

.overflow-hidden {
	overflow: hidden;
}

.g5plus-page-links {
	margin-top: 30px;
	font-size:  0;
}

.g5plus-page-links-title {
	margin-right:  40px;
	font-size:     18px;
	margin-bottom: 0;
	font-weight:   300;
	color:         #2a2a2a;

}

.g5plus-page-link {
	display:            inline-block;
	margin-right:       4px;
	font-size:          12px;
	font-weight:        bold;
	color:              #888888;
	padding:            0;
	width:              36px;
	height:             36px;
	text-align:         center;
	line-height:        36px;
	border:             1px solid #e9e9e9;

	-webkit-transition: all 0.2s;
	-moz-transition:    all 0.2s;
	-ms-transition:     all 0.2s;
	-o-transition:      all 0.2s;
	transition:         all 0.2s;
}

.g5plus-page-links .g5plus-page-link:hover,
.g5plus-page-links > .g5plus-page-link {
	color:            #fff;
	background-color: @primary_color;
	border-color:     @primary_color;
}

@theme_url_blur: '@{theme_url}assets/css/filter.svg#blur';
@theme_url_brightness_dark: '@{theme_url}assets/css/filter.svg#brightness-dark';
@theme_url_brightness_light: '@{theme_url}assets/css/filter.svg#brightness-light';
@theme_url_blur_overlay: '@{theme_url}assets/css/filter.svg#blur-overlay';
@theme_url_gray_scale: '@{theme_url}assets/css/filter.svg#gray-scale';
.filter-blur {
	-webkit-filter: url(@theme_url_gray_scale);
	-moz-filter:    url(@theme_url_gray_scale);
	-o-filter:      url(@theme_url_gray_scale);
	-ms-filter:     url(@theme_url_gray_scale);
	filter:         url(@theme_url_gray_scale);
}

.filter-brightness-dark {
	-webkit-filter: url(@theme_url_brightness_dark);
	-moz-filter:    url(@theme_url_brightness_dark);
	-o-filter:      url(@theme_url_brightness_dark);
	-ms-filter:     url(@theme_url_brightness_dark);
	filter:         url(@theme_url_brightness_dark);
}

.filter-brightness-light {
	-webkit-filter: url(@theme_url_brightness_light);
	-moz-filter:    url(@theme_url_brightness_light);
	-o-filter:      url(@theme_url_brightness_light);
	-ms-filter:     url(@theme_url_brightness_light);
	filter:         url(@theme_url_brightness_light);
}

.filter-blur-overlay {
	-webkit-filter: url(@theme_url_blur_overlay);
	-moz-filter:    url(@theme_url_blur_overlay);
	-o-filter:      url(@theme_url_blur_overlay);
	-ms-filter:     url(@theme_url_blur_overlay);
	filter:         url(@theme_url_blur_overlay);
}

.filter-gray-scale {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	-moz-filter:    grayscale(100%);
	filter:         gray;
	filter:         grayscale(100%);
	filter:         url(@theme_url_gray_scale);
	&:hover {
		-webkit-filter: none;
		-webkit-filter: none;
		-moz-filter:    none;
		filter:         none;
	}
}

/**********************************test***********************/




