#panel-style-selector {
	.panel-wrapper {
		position:           fixed;
		top:                120px;
		left:               0;
		z-index:            99998;
		.fixed;
		width:              205px;
		padding:            0;
		background:         #111;
		color:              #FFF;
		font-size:          12px;
		border-left:        none;

		-webkit-transform:  translateX(-100%);
		-moz-transform:     translateX(-100%);
		-ms-transform:      translateX(-100%);
		-o-transform:       translateX(-100%);
		transform:          translateX(-100%);

		-webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
		-moz-transition:    all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
		-ms-transition:     all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
		-o-transition:      all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition:         all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	.panel-wrapper.in {
		-webkit-transform: translateX(0%);
		-moz-transform:    translateX(0%);
		-ms-transform:     translateX(0%);
		-o-transform:      translateX(0%);
		transform:         translateX(0%);
	}

	.panel-selector-open {
		position:                   absolute;
		top:                        0;
		left:                       100%;
		width:                      50px;
		height:                     50px;
		border-bottom-right-radius: 5px;
		border-top-right-radius:    5px;
		background:                 #222;
		text-align:                 center;
		cursor:                     pointer;
		opacity:                    1;
		i {
			font-size:   20px;
			line-height: 50px;
		}

		&:hover {
			color: @primary_color;
		}
	}
	.panel-selector-header {
		height:         50px;
		line-height:    50px;
		padding:        0 15px;
		background:     #222;
		text-transform: uppercase;
		color:          #fff;
		font-weight:    bold;
		font-size:      14px;
	}
	.panel-selector-body {
		padding: 15px;
	}

	.panel-selector-section {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	h3.panel-selector-title {
		border-bottom:  solid 1px #222;
		padding-bottom: 11px;
		color:          #fff;
		text-transform: uppercase;
		font-size:      12px;
		margin:         0;
		margin-bottom:  17px;
		margin-top:     10px;
		font-family:    @primary_font;
		font-weight: 600;
	}
	h3.panel-selector-title:before {
		content: '';
		display:      inline-block;
		width:        10px;
		height:       10px;
		background-color:  @primary_color;
		margin-right: 5px;
	}
	.panel-selector-row {
		margin-bottom: 5px;
	}

	.panel-selector-btn {
		display:        inline-block;
		padding:        6px 12px;
		text-transform: uppercase;
		min-width:      80px;
		text-align:     center;
		background:     #FFFFFF;
		border:         1px solid #dddddd;
		color:          #25282c;
		line-height:    1.6;
		font-size:      12px;
		font-family:    @primary_font;
		font-weight:    500;
	}
	.panel-selector-btn:hover,
	.panel-selector-btn.active {
		background-color: @primary_color;
		border:           1px solid @primary_color;
		color:            #FFFFFF;
	}

	ul {
		padding:         0;
		margin:          0;
		list-style-type: none;
	}

	ul li {
		width:    30px;
		height:   25px;
		float:    left;
		display:  block;
		border:   1px solid #999;
		cursor:   pointer;
		position: relative;
	}

	ul li.active,
	ul li:hover {
		&:before {
			content:     "\f00c";
			position:    absolute;
			left:        0;
			right:       0;
			top:         0;
			bottom:      0;
			display:     block;
			margin:      auto;
			text-align:  center;
			font-family: 'fontawesome';
		}
	}
	ul li + li {
		margin-left: 15px;
	}

	ul li:nth-child(4n+1) {
		clear:       both;
		margin-left: 0;
	}

	ul li:nth-child(n + 5) {
		margin-top: 15px;
	}

	ul.panel-primary-background li {
		//background-image:  url('assets/images/style-selector-bg.png');
		background-repeat: no-repeat;
	}

}

@media (max-width: 767px) {
	#panel-style-selector {
		display: none;
	}
}