<ul class="widget-contact-info">
	<li>
		<i class="icon icon-location"></i>
		<p>VPĐD: Tầng 13,
			<span itemscope itemtype="http://schema.org/LocalBusiness" itemref="_openingHoursSpecification3">
			<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<span itemprop="streetAddress">Chung cư CT5-X2</span>
			</span>
			</span>,
			<span id="_address9" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<span itemprop="streetAddress">Bắc Linh Đàm</span>,
			<span itemprop="addressLocality">Hoàng Mai, Hà Nội</span></span>
		</p>
	</li>
	<li>
		<i class="icon icon-phone-1"></i>
		<p>Hotline:
		<span itemscope itemtype="http://schema.org/LocalBusiness" itemref="_openingHoursSpecification3 _address9">
		<span itemprop="telephone">096 2626 101</span> </span>-
		<span itemscope itemtype="http://schema.org/LocalBusiness" itemref="_openingHoursSpecification3 _address9">
		<span itemprop="telephone">0936 292 686</span></span>
		</p>
	</li>
	<li>
		<i class="icon icon-paper-plane"></i>
		<a href="mailto:contact@motelocorp.com">Email:
			<span itemprop="email">contact@motelocorp.com</span></a>
	</li>
	<li>
		<i class="icon icon-mobile-1"></i>
		<a href="tel:0462928866">Tel:
			<span itemprop="telephone">04 6292 8866</span></a>
	</li>
	<li>
		<i class="icon icon-clock-1"></i>
		<p id="_openingHoursSpecification3" itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">Giờ mở cửa:
			<span itemprop="opens" >9:00</span> -
			<span itemprop="closes" >18:00</span>
			<span itemprop="dayOfWeek" itemscope itemtype="http://schema.org/DayOfWeek">
			<span itemprop="name">Thứ 2 - 7</span></span></p>
	</li>

</ul>

<ul class="widget-contact-info">
	<li>
		<i class="icon icon-location"></i>
		<p>VPĐD: Tầng 13, Chung cư CT5-X2, Bắc Linh Đàm, Hoàng Mai, Hà Nội</p>
	</li>
	<li>
		<i class="icon icon-phone-1"></i>
		<p>Hotline: 096 2626 101 - 0936 292 686</p>
	</li>
	<li>
		<i class="icon icon-paper-plane"></i>
		<a href="mailto:contact@motelocorp.com">Email: contact@motelocorp.com</a>
	</li>
	<li>
		<i class="icon icon-mobile-1"></i>
		<a href="tel:0462928866">Tel: 04 6292 8866</a>
	</li>
	<li>
		<i class="icon icon-clock-1"></i>
		<p>Giờ mở cửa: 9h - 18h Thứ 2 - 7</p>
	</li>
</ul>