.vc_tta-container h2{
	margin-bottom : 35px;
	font-size : 18px;
}
.vc_general.vc_tta.vc_tta-accordion.vc_tta-style-accordion_style1 {
	.vc_tta-panel-heading {
		border: 1px solid @border_color;
		border-radius : 0;
		background-color : #f9f9f9;
		h4.vc_tta-panel-title{
			font-size : 13px;
			font-weight : 500;
			
			a {
				padding : 10px 15px;
				display: table;
				width : 100%;
				i.vc_tta-icon {
					width : 30px;
					font-size : 18px;
					line-height : 1;
					&:before{
						line-height : inherit;
					}
				}
				
				.vc_tta-title-text{
					line-height : 18px;
				}

				.vc_tta-title-text,.vc_tta-icon{
					display : table-cell;
					vertical-align : middle;
				}
			}

			.vc_tta-title-text:not(:empty):not(:first-child){
				margin-left : 12px;
			}
			
			.vc_tta-controls-icon-chevron {
				.vc_tta-controls-icon:before{
					border-width: 1px ;
				}
			}
			.vc_tta-controls-icon.vc_tta-controls-icon-chevron{
				&:before{
					border-width: 0 1px 1px 0;
					width : 6px;
					height : 6px;
				}
			}

			&.vc_tta-controls-icon-position-left{
				.vc_tta-controls-icon{
					left: 15px;
				}
				a{
					padding-left: 40px;
				}
			}

			&.vc_tta-controls-icon-position-right{
				.vc_tta-controls-icon{
					right: 15px;
				}
				a{
					padding-right: 40px;
				}
			}
		}
	}
	.vc_tta-panel-body {
		padding: 5px 20px 5px 40px;
		border:0;
		.wpb_text_column.wpb_content_element {
			.wpb_wrapper {
				p {}
			}
		}
	}

	// rotate of icon
	.vc_tta-controls-icon.vc_tta-controls-icon-chevron::before{
		-webkit-transform: rotate(-45deg) translate(-25%,-25%);
		-ms-transform: rotate(-45deg) translate(-25%,-25%);
		transform: rotate(-45deg) translate(-25%,-25%);
	}
	.vc_active .vc_tta-controls-icon.vc_tta-controls-icon-chevron::before{
		-webkit-transform: rotate(45deg) translate(-25%,-25%);
		-ms-transform: rotate(45deg) translate(-25%,-25%);
		transform: rotate(45deg) translate(-25%,-25%);
	}
}

.vc_general.vc_tta.vc_tta-accordion.vc_tta-style-accordion_style2 {
	background-color : #f9f9f9;
	.vc_tta-panel-heading {
		border: 1px solid @border_color;
		border-radius : 0;
		margin-top : -1px;

		h4.vc_tta-panel-title{
			font-size : 13px;
			font-weight : 500;
			color: inherit;

			a {
				padding : 18px 15px;
				display: table;
				width : 100%;
				transition-duration: 0s;
				i.vc_tta-icon {
					width : 30px;
					font-size : 18px;
					line-height : 1;
					&:before{
						line-height : inherit;
					}
				}

				.vc_tta-title-text,.vc_tta-icon{
					display : table-cell;
					vertical-align : middle;
				}
			}

			.vc_tta-title-text:not(:empty):not(:first-child){
				margin-left : 12px;
			}

			.vc_tta-controls-icon{
				color: @primary_color;
			}

			.vc_tta-controls-icon-chevron {
				.vc_tta-controls-icon:before{
					border-width: 1px ;
				}
			}
			.vc_tta-controls-icon.vc_tta-controls-icon-chevron{
				&:before{
					border-width: 0 1px 1px 0;
					width : 6px;
					height : 6px;
				}
			}

			&.vc_tta-controls-icon-position-left{
				.vc_tta-controls-icon{
					left: 15px;
				}
				a{
					padding-left: 40px;
				}
			}

			&.vc_tta-controls-icon-position-right{
				.vc_tta-controls-icon{
					right: 15px;
				}
				a{
					padding-right: 40px;
				}
			}
		}
	}
	.vc_active .vc_tta-panel-heading{
		background-color : @secondary_color;
		border-color: transparent;
		color: #fff;
	}
	.vc_tta-panel-body {
		padding: 20px 30px;
		border: 1px solid @border_color;
		.wpb_text_column.wpb_content_element {
			.wpb_wrapper {
				p {}
			}
		}
	}

	// rotate of icon
	.vc_tta-controls-icon.vc_tta-controls-icon-chevron::before{
		-webkit-transform: rotate(-45deg) translate(-25%,-25%);
		-ms-transform: rotate(-45deg) translate(-25%,-25%);
		transform: rotate(-45deg) translate(-25%,-25%);
	}
	.vc_active .vc_tta-controls-icon.vc_tta-controls-icon-chevron::before{
		-webkit-transform: rotate(45deg) translate(-25%,-25%);
		-ms-transform: rotate(45deg) translate(-25%,-25%);
		transform: rotate(45deg) translate(-25%,-25%);
	}
}
