.os-counter {
	text-align: center;
	color:      @text_color;
	
	span {
		font-family: @secondary_font;
		font-size:   30px;
		font-weight: 400;
		line-height: 1.2;

		&:after {
			display:    block;
			width:      43px;
			height:     2px;
			background: @primary_color;
			content:    '';
			margin:     12px auto 0;
		}
	}

	p {
		font-family: @primary_font;
		text-transform: uppercase;
		font-size:   14px;
		font-weight: 400;
		line-height: 1;
		padding-top: 24px;
	}
}

@media (max-width: 767px) {
	.os-counter {
		padding: 40px 0 40px !important;
	}
}