.os-ibox {
	position:      relative;
	z-index:       3;
	margin-bottom: 25px;
	//Icon in  header
	@icon-size: 95px;
	padding:       20px 0;
	&.style3 {
		padding: 0;
		background: transparent !important;
		margin: 0;
		.__iconbox-wrapper {
			line-height: 0;
			.overlay{
				background: rgba(0,0,0,.5);
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: 99;
			}
			.__icon {
				overflow: hidden;
				height: auto;
				width: 100%;
				margin: 0;
				img{
					width: 100%;
				}
				h3{
					position: absolute;
					bottom: 48%;
					left: 0;
					right: 0;
					text-align: center;
					z-index: 100;
					text-transform: uppercase;
					color: #fff;
					font-size: 30px;
					font-weight: 700;
					a{
						color: inherit;
					}
				}
			}
			figcaption {
				position:                    absolute;
				top:                         0;
				left:                        0;
				z-index: 999;
				padding:                     20px;
				background:                  #2c3f52;
				color:                       #fff;
				height:                      100%;
				width:                       65%;
				opacity:                     0;
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility:    hidden;
				backface-visibility:         hidden;
				-webkit-transform-origin:    0 0;
				-moz-transform-origin:       0 0;
				transform-origin:            0 0;
				-webkit-transform:           rotateY(-90deg);
				-moz-transform:              rotateY(-90deg);
				transform:                   rotateY(-90deg);
				-webkit-transition:          -webkit-transform 0.4s, opacity 0.1s 0.3s;
				-moz-transition:             -moz-transform 0.4s, opacity 0.1s 0.3s;
				transition:                  transform 0.4s, opacity 0.1s 0.3s;
				text-align: left;
				h3{
					font-size: 18px;
					font-weight: 700;
					color:@primary_color;
					text-transform: uppercase;
					margin-bottom: 20px;
					a{
						color: inherit;
					}
				}
				p{
					color: inherit;
					font-size: 14px;
					line-height: 2.2;
				}
			}
			&:hover{
				figcaption {
					opacity: 1;
					-webkit-transform: rotateY(0deg);
					-moz-transform: rotateY(0deg);
					transform: rotateY(0deg);
					-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
					-moz-transition: -moz-transform 0.4s, opacity 0.1s;
					transition: transform 0.4s, opacity 0.1s;
				}
			}
		}
	}
	> a {
		position: absolute;
		top:      0;
		left:     0;
		right:    0;
		bottom:   0;
		z-index:  999;
	}
	.__icon {
		display:  inline-block;
		position: relative;
		width:    @icon-size;
		height:   @icon-size;
		margin:   0 10px;

		img {
			max-width: 100%;
		}

		i {
			display:     block;
			width:       100%;
			height:      100%;
			margin:      0;
			text-align:  center;
			line-height: inherit;

			&:before {
				line-height: inherit !important;
			}

		}

		&.simple-icon {
			font-size:   32px;
			line-height: @icon-size;
			color:       @primary_color;
		}

		&.circle-icon {
			background-color: @primary_color;
			color:            #FFFFFF;
			line-height:      @icon-size;
			font-size:        20px;
			border-radius:    50%;
			a {
				color: inherit;
			}
		}
	}
	.__title {
		font-size: 18px;
		margin:    0;
	}
	&.istyle-left {
		.__header {
			margin-bottom: 20px;

			.__icon {
				vertical-align: middle;
				display:        inline-block;
			}

			.__title {
				font-weight:    600;
				font-size:      18px;
				display:        inline-block;
				vertical-align: middle;
				margin-bottom:  0;
				max-width:      ~"calc(100% - 70px)";

				a {
					color: inherit;
					&:hover {
						color: @link_color_hover;
					}
				}
			}
		}
	}

	&.istyle-top {
		text-align: center;
		.__header {
			.__title {
				font-size:   18px;
				font-weight: 400;
			}
			.__icon {
				margin-bottom: 25px;
			}
		}
	}

	&.istyle-inherit {
		.__header {
			.__title {
				color: inherit;
				a {
					color: inherit;
				}
			}
		}

		.__content {
			color: inherit;
		}

		.__symbol-bg {
			color: rgba(0, 0, 0, 0.05);
		}

	}

	&.istyle-dark {
		.__header {
			.__title {
				color: #444444;
				a {
					color: #444444;
				}
			}
		}

		.__content {
			color: #444444;
		}

		.__symbol-bg {
			color: rgba(0, 0, 0, 0.05);
		}

	}

	&.istyle-light {
		.__header {
			.__title {
				color: #ffffff;
				a {
					color: #ffffff;
				}
			}
		}
		.__content {
			color: #ffffff;
		}

		.__symbol-bg {
			color: rgba(255, 255, 255, 0.05);
		}
	}

	// Content
	.__content {
		height:                      100%;
		width:                       100%;
		opacity:                     0;
		text-align:                  center;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		backface-visibility:         hidden;
		-webkit-transition:          -webkit-transform 0.3s, opacity 0.3s;
		-moz-transition:             -moz-transform 0.3s, opacity 0.3s;
		transition:                  transform 0.3s, opacity 0.3s;
		position:                    absolute;
		top:                         0;
		left:                        0;
		padding:                     20px;
		background:                  #2c3f52;
		.__entry_content {
			display: table;
			width:   100%;
			height:  100%;
			.__inner-content {
				display:        table-cell;
				vertical-align: middle;
				p {
					line-height: 1.5;
				}
			}
		}
	}
	&:hover {
		.__content {
			opacity:           1;
			-webkit-transform: translate(10px, 10px);
			-moz-transform:    translate(10px, 10px);
			-ms-transform:     translate(10px, 10px);
			transform:         translate(10px, 10px);
			z-index:           99;
		}
	}
	// Symbol Background

	.__symbol-bg {
		position:    absolute;
		top:         0;
		left:        -0.04em;
		z-index:     -1;
		line-height: 1;
		font-size:   200px;
		color:       rgba(0, 0, 0, 0.05);
		font-weight: 600;

	}
}

