
.secondary-font {
	font-family: @secondary_font;
}

.menu-font {
	font-family: @menu_font;
}

.primary_font {
	font-family: @primary_font;
}

.primary-color {
	color: @primary_color;
}

.border-primary-color,
.border-primary-color:after,
.border-primary-color:before {
	border-color: @primary_color;
}

.bold-color {
	color: @bold_color;
}

.center {
	text-align: center;
}

.primary-color-hover:hover,
.entry-content a.primary-color-hover:hover,
.comment-text a.primary-color-hover:hover {
	color: @primary_color;
}

.paging .portfolio-wrapper {
	overflow: hidden;
}

.portfolio-full.small-slider, .portfolio.slider {
	//	.owl-carousel .owl-wrapper-outer {
	//		overflow: hidden;
	//	}
	//	.owl-next,
	//	.owl-prev {
	//		height:           30px;
	//		position:         absolute;
	//		top:              43%;
	//		width:            30px;
	//		background-color: #fff;
	//		padding:          0;
	//	}
	//	.owl-prev {
	//		left: -40px;
	//		i {
	//			font-size:   16px;
	//			margin-left: -1px;
	//			margin-top:  4px;
	//
	//		}
	//	}
	//	.owl-next {
	//		right: -40px;
	//		i {
	//			font-size:   16px;
	//			margin-left: 1px;
	//			margin-top:  4px;
	//
	//		}
	//	}
}

.portfolio.slider {
	.owl-carousel .owl-buttons {
		display: block;
		width:   100%;
		div {
			background-color: #3f3f3f;
			color:            #fff;
			opacity:          1;
		}
		.owl-next,
		.owl-prev {
			position:              absolute;
			text-align:            center;
			width:                 49px;
			height:                49px;
			line-height:           49px;
			-webkit-border-radius: 0;
			-moz-border-radius:    0;
			border-radius:         0;
			background:            #222222;
			margin:                0;
			padding:               0;
			top:                   50%;
			i {
				font-size: 16px;
				color:     #fff;
				margin:    0;
			}
			&:hover {
				background: #fff;
				border:     1px solid #444;
				i {
					color: #444;
				}
			}
		}
		.owl-next {
			right: 0;
		}
		.owl-prev {
			left: 0;
		}
	}
}

.view-button-wrap {
	margin-top: 40px;
}

.portfolio {
	.portfolio-entry-header {
		.os-title {
			float: left;
		}
		.portfolio-tabs {
			float: right;
		}
	}
	.portfolio-tabs {
		ul {
			list-style:    none;
			padding:       0;
			margin-bottom: 30px;
			position:      relative;
			li {
				float:          left;
				margin-left:    25px;
				margin-right:   25px;
				padding-top:    8px;
				padding-bottom: 8px;
				line-height:    2;
				position:       relative;
				& > a {
					font-size:       13px;
					color:           @text_color;
					text-decoration: none;
					text-transform:  none;
					letter-spacing:  0;
					font-weight:     500;
				}
				& > a.active, & > a:hover {
					color: @primary_color;
				}
			}
			li:first-child {
				margin-left: 0;
			}
			li.last {
				margin-right: 0;
			}
			&:after {
				content: '';
				display: block;
				clear:   both;
			}
		}

		.tab-wrapper {
			&.center {
				text-align: center;
				ul {
					text-align: center;
					display:    inline-block;
				}
			}
			&.right > ul {
				float: right;
			}
			&.left > ul {
				float: left;
			}
		}
		.tab-wrapper.bg-category-wrap {

			line-height:      1;
			background-color: #f4f4f4;
			margin-bottom:    30px;
			ul {
				margin-bottom: 0;
				padding-left:  0;
				margin-left:   auto;
				margin-right:  auto;
				display:       table;
				li {
					margin-left:   0;
					margin-right:  0;
					padding-left:  25px;
					padding-right: 25px;
					.transition-all(0.3s);
				}
			}
			ul li:hover,
			ul li.active {
				background-color: @primary_color;
				a {
					color: #fff;
				}

			}
		}

		.title-portfolio {
			font-size:      18px;
			font-weight:    bold;
			display:        inline-block;
			text-transform: uppercase;
			line-height:    1;

			.bottom-line {
				width:      45px;
				border-top: solid 2px @primary_color;
				display:    block;
				margin-top: 20px;
			}

			&.isolation {
				display:       block;
				margin-bottom: 30px;
				> span {
					display: block;
				}
				.bottom-line {
					display: inline-block;
				}
				&.left,
				&.right {
					float:    none;
					position: relative;
					left:     0;
					right:    0;
				}
				&.right {
					text-align: right;
				}
			}

			&.center {
				text-align:    center;
				line-height:   1;
				margin-bottom: 30px;
			}

			&.left {
				float:    left;
				position: absolute;
				left:     15px;
			}
			&.right {
				float:    right;
				position: absolute;
				right:    15px;
			}
		}

	}
}

.portfolio.style_2 {

	.title-portfolio {
		color: #fff;
	}
	.portfolio-tabs {

		ul {
			&.magic-line-container {
				border-top-color:    #fff;
				border-bottom-color: #fff;
			}
			li > a {
				color:     #fff;
				font-size: 13px;
				&.active, &:hover {
					color: @primary_color;
				}
			}
		}
	}
	//		.owl-theme .owl-controls .owl-buttons div {
	//			background-color: #fff;
	//			opacity:          1;
	//			i{
	//				color:            #444;
	//			}
	//			&:hover {
	//				background-color: @primary_color;
	//				i{
	//					color: #fff;
	//				}
	//			}
	//		}
	.portfolio-wrapper .portfolio-item figcaption .fig-title {
		a {
			color: #fff;
		}
		&:hover {
			color: @primary_color;
		}
	}
	.os-title {
		color: #fff;
	}
}

/* pretty Photo */
div.light_rounded .pp_description,
div.light_square .pp_description {
	text-align:  center;
	font-weight: 600;
	font-size:   16px;
	a {
		text-decoration: none;
		color:           @text_color;
	}
	a:hover {
		text-decoration: none;
		color:           @primary_color;
	}
}

/* end pretty Photo */

.portfolio-wrapper.hemelios-col-md-2,
.portfolio-wrapper.hemelios-col-md-3,
.portfolio-wrapper.hemelios-col-md-4 {
	.owl-wrapper-outer {
		.portfolio-item {
			width:          100%;
			padding-bottom: 0;
		}
	}
}

.portfolio-wrapper.col-padding-10,
.portfolio-wrapper.col-padding-15,
.portfolio-wrapper.col-padding-20,
.portfolio-wrapper.col-padding-40 {
	&.owl-carousel {
		margin: 0;
	}
}

.portfolio-wrapper.hemelios-col-md-2 .portfolio-item {
	width: 50%;
	float: left;

	.post-title a {
		font-size: 18px;
	}
}

.portfolio-wrapper.hemelios-col-md-3 .portfolio-item {
	width: 33.3333333%;
	float: left;

	.post-title a {
		font-size: 16px;
	}
}

.portfolio-wrapper.hemelios-col-md-4 .portfolio-item {
	width: 25%;
	float: left;

	.post-title a {
		font-size: 15px;
	}
}

.portfolio-wrapper.col-padding-10 {
	margin: 0 -10px -20px;
	.portfolio-item {
		padding: 0px 10px 20px 10px;
	}
}

.portfolio-wrapper.col-padding-15 {
	margin: 0 -15px -30px;
	.portfolio-item {
		padding: 0px 15px 30px 15px;
	}
}

.portfolio-wrapper.col-padding-20 {
	margin: 0 -20px -40px;
	.portfolio-item {
		padding: 0px 20px 0px 20px;
	}
}

.portfolio-wrapper.col-padding-40 {
	margin: 0 -40px -80px;
	.portfolio-item {
		padding: 0px 40px 80px 40px;
	}
}

.portfolio-wrapper .portfolio-item {
	padding:  0px;
	position: relative;
	overflow: hidden;
	figure {
		margin:   0;
		position: relative;
		overflow: hidden;
		.image-bg {
			background-color: #f3f3f3;
			width:            100%;
			height:           400px;
			display:          inline-block;
			.image-shop-scroll {
				transition:          all 5s ease-out 0s;
				-webkit-transition:  all 5s ease-out 0s;
				-moz-transition:     all 5s ease-out 0s;
				-ms-transition:      all 5s ease-out 0s;
				-o-transition:       all 5s ease-out 0s;
				background-position: center 0;
				background-repeat:   no-repeat;
				position:            absolute;
				width:               100%;
				top:                 0;
				left:                0;
				right:               0;
				margin:              0 auto;
				bottom:              0;
				background-size: 100% auto;
			}

		}
		.__entry-content {
			position:    absolute;
			bottom:      20px !important;
			right:       20px !important;
			left:        auto !important;
			top:         auto !important;
			width:       85%;
			background:  rgba(255, 255, 255, .8);
			min-height:  60px;
			border-left: 3px solid @primary_color;
			padding:     15px 0 15px 20px;
			h3 {
				font-size:      13px;
				text-transform: uppercase;
				color:          @text_color;
				margin:         0 0 5px;
			}
			p {
				color:       @primary_color;
				line-height: 1.5;
			}
		}
		.__entry-thumbnail-hover {
			.rgba-bg-color(#000, .2);
			position:           absolute;
			top:                0;
			left:               0;
			height:             100%;
			width:              100%;
			opacity:            0;
			-webkit-transition: all 0.5s;
			-moz-transition:    all 0.5s;
			-ms-transition:     all 0.5s;
			-o-transition:      all 0.5s;
			transition:         all 0.5s;
			z-index:            9999;
		}
		.__entry-hover-wrapper {
			display:          table;
			height:           100%;
			width:            101%;
			padding-left:     10px;
			padding-right:    10px;
			text-align:       center;
			background-color: transparent;
			.__entry-hover-inner {
				display:        table-cell;
				vertical-align: middle;
				a {
					color:      #fff;
					top:        0;
					position:   absolute;
					left:       0;
					bottom:     0;
					right:      0;
					text-align: center;
					i {
						color:                 #fff;
						width:                 48px;
						height:                48px;
						top:                   50%;
						position:              absolute;
						left:                  50%;
						margin-top:            -24px;
						margin-left:           -24px;
						line-height:           48px;
						text-align:            center;
						-webkit-border-radius: 100%;
						-moz-border-radius:    100%;
						border-radius:         100%;
						border:                2px solid #fff;
					}
				}
			}
		}
		.hover-action {
			position: absolute;
			top:      0;
			left:     0;
			right:    0;
			bottom:   0;
			.rgba-bg-color(@link_color, .7);
			opacity:  0;
			z-index:  99;
			a {
				color:      #fff;
				top:        0;
				position:   absolute;
				left:       0;
				bottom:     0;
				right:      0;
				text-align: center;
				i {
					color:                 #fff;
					width:                 48px;
					height:                48px;
					top:                   50%;
					position:              absolute;
					left:                  50%;
					margin-top:            -24px;
					margin-left:           -24px;
					line-height:           48px;
					text-align:            center;
					-webkit-border-radius: 100%;
					-moz-border-radius:    100%;
					border-radius:         100%;
					border:                2px solid #fff;
				}
			}
		}
		&:hover {
			.image-shop-scroll {
				background-position: center 100% !important;
			}
			.__entry-thumbnail-hover {
				opacity: 1;

			}
		}

	}
	img {
		width:              100%;
		height:             auto;
		display:            block;
		max-width:          100%;
		position:           relative;
		-webkit-transition: transform .4s;
		-moz-transition:    transform .4s;
		-ms-transition:     transform .4s;
		-o-transition:      transform .4s;
		transition:         transform .4s;
	}
	figcaption {
		text-align: center;
		.fig-title {
			margin: 20px 0 5px;
			a {
				font-size:       14px;
				text-transform:  uppercase;
				font-family:     @secondary_font;
				line-height:     120%;
				color:           #444;
				text-decoration: none;
				.transition-all(.4s);
			}
			&:hover {
				a {
					color: @primary_color;
				}
			}
		}
	}
}
.archive-portfolio {
	margin-top: 40px;
}
.style_2 {
	.owl-next,
	.owl-prev {
		background-color: #657b84;
	}
}

@media only screen and (min-width: 1920px) {
	.portfolio-wrapper .portfolio-item .entry-thumbnail > img {
		width: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	.portfolio-wrapper.hemelios-col-md-2 .portfolio-item {
		.post-title, .category {
			font-size: 12px;
		}
		.entry-thumbnail .entry-thumbnail-hover .entry-hover-wrapper .entry-hover-inner {
			h5, span {
				font-size: 12px;
			}
			i {
				font-size: 22px;
			}
		}

	}

	.owl-theme .owl-controls .owl-buttons {

		.owl-prev {
			left: 0px;
		}
		.owl-next {
			right: 20px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.portfolio .portfolio-entry-header .portfolio-tabs {
		float: none;
		clear: both;
	}

	.portfolio .portfolio-tabs {
		.title-portfolio {
			&.isolation.right,
			&.isolation.left,
			&.isolation.center,
			&.left,
			&.center,
			&.right {
				float:         none;
				display:       block;
				line-height:   1;
				position:      relative;
				text-align:    center;
				left:          0;
				right:         0;
				> span {
					display: block;
				}
				.bottom-line {
					margin-top: 20px;
					display:    inline-block;
				}
				margin-bottom: 30px;
			}
		}
		.tab-wrapper {
			text-align: center;
			&.right,
			&.left,
			&.center {
				.magic-line-container {
					display: inline-block;
					float:   none;
				}
			}
		}
	}

}

@media only screen and (max-width: 600px) {

	.portfolio-wrapper {
		figure .fig-title {
			.ico-view-detail,
			.ico-view-gallery {
				display: none;
			}
			.category {
				white-space: normal;
			}
		}
	}

	.portfolio-item .entry-thumbnail .entry-hover-wrapper .entry-hover-inner h5 {
		margin-bottom: 0px;
	}

	.portfolio .portfolio-tabs ul.cat-style-normal:after {
		content: '';
		display: block;
		clear:   both;
	}

	.portfolio-wrapper.hemelios-col-md-2 .portfolio-item,
	.portfolio-wrapper.hemelios-col-md-3 .portfolio-item,
	.portfolio-wrapper.hemelios-col-md-4 .portfolio-item {
		width: 100%;
	}

	.magic-line-container .magic-line {
		display: none;
	}

	.portfolio .portfolio-tabs ul {
		width: 100%;
	}

	.portfolio .portfolio-tabs ul li {
		width:          100%;
		padding-bottom: 0;
		margin-left:    0;
		margin-right:   0;
		padding-top:    4px;
		padding-right:  4px;
		&.none-magic-line {
			display: none;
		}
	}
}

@media only screen and (min-width: 600px) and (max-width: 990px) {
	.portfolio-wrapper.hemelios-col-md-3 .portfolio-item,
	.portfolio-wrapper.hemelios-col-md-4 .portfolio-item {
		width: 50%;
	}

}

.portfolio .portfolio-wrapper.owl-carousel {
	padding: 0 50px 0 50px;
}

