#portfolio-slider {
	position: relative;
	.owl-controls {
		margin-top: 0;
		.owl-prev, .owl-next {
			background-color: rgba(0,0,0,.9);
			width:            50px;
			height:           50px;
			line-height:      50px;
			color:            #fff;
			.rounded(0);
			top: 50%;
			margin: 0;
			margin-top: -25px;
			position: absolute;
			.transition-all(.3s);
			&:hover {
				background-color: #fff;
				color: #000;
			}
			i{
				font-size: 20px;
			}
		}
		.owl-prev{
			left: 0;
		}
		.owl-next{
			right: 0;
		}
	}
}
#portfolio-carousel {
	padding: 20px 35px 0;
	.owl-item{
		padding: 0 15px;
		img {
			cursor:  pointer;
			opacity: .6;
		}
		&:hover{
			img {
				opacity: 1;
			}
		}
		&.synced{
			img {
				opacity: 1;
			}
		}
	}
}

.portfolio-full.small-slider {
	margin-bottom: 60px;

	.portfolio-title,
	.portfolio-category {
		text-transform: uppercase;
		text-align:     center;
	}
	.portfolio-category {
		line-height:   1;
		margin-bottom: 60px;
	}
	.post-slideshow,
	.slideshow-paging {
		.transition-all(opacity 0.3s);
	}
	.slideshow-paging {
		margin-top: 30px;
	}
	.owl-controls {
		margin-top: 0;
	}
	.owl-theme .owl-controls .owl-buttons {
		.owl-prev, .owl-next {
			background-color: #000;
			width:            40px;
			height:           40px;
			line-height:      36px;
			color:            #fff;
			&:hover {
				background-color: @primary_color;
			}
		}
		.owl-prev {
			left: 20px;
		}
		.owl-next {
			right: 20px;
		}
	}
	.top-portfolio {
		padding-bottom: 45px;
		border-bottom:  1px solid @border_color;
	}

	.portfolio-attribute {
		.os-title {
			margin-bottom: 20px;
		}
		.portfolio-info {
			.portfolio-short-descripton {
				p {
					line-height: 2.2;
				}
			}
			.portfolio-info-box {
				margin-bottom: 15px;
				&:last-child {
					border-bottom: none;
				}

			}
		}
	}
	.portfolio-info-box.share {
		position: relative;
		img {
			position: absolute;
			top:      17px;
		}
	}
	.share {
		h6 {
			font-size:   18px;
			display:     inline-block;
			font-weight: 300;
		}
		.icon-wrap {
			display:      inline-block;
			padding-left: 90px;
			a {
				width:            38px;
				height:           38px;
				line-height:      38px;
				text-align:       center;
				display:          inline-block;
				border-radius:    50%;
				background-color: #eee;
			}
		}
		img {
			padding-left:  10px;
			padding-right: 10px;
		}
	}
}

.portfolio-content {
	margin-top: 38px;
	h5.title {
		font-size:      24px;
		text-transform: uppercase;
		margin-bottom:  40px;
		&:before,
		&:after {
			content:             '';
			position:            absolute;
			width:               35px;
			border-bottom-width: 2px;
			border-bottom-style: solid;
		}
		&:before {
			top: 36px;
		}
		&:after {
			top:  40px;
			left: 15px;
		}
	}
}
.portfolio-info {
	ul {
		list-style:   none;
		padding-left: 0;
		color:        @bold_color;
		li:before {
			content:       "::";
			padding-right: 10px;
		}
	}

	.portfolio-info-box {
		h6 {
			font-size:      14px;
			line-height:    1;
			margin-bottom:  7px;
			text-transform: uppercase;
			color:          @text_color;
			font-weight: 500;
		}
		.portfolio-term {
			font-size:              13px;
			color:                  @text_color;
			font-family:            @primary_font;
			font-weight: 300;
			text-rendering:         optimizeLegibility !important;
			-webkit-font-smoothing: antialiased !important;
		}
	}
}

.portfolio-related-wrap {
	background-color: #eee;
	padding-top:      130px;
	padding-bottom:   100px;

}

.heading-wrap {
	text-align:     center;
	line-height:    1;
	position:       relative;
	padding-bottom: 75px;

	&:before,
	&:after {
		content:  '';
		position: absolute;
		width:    60px;
		left:     0;
		right:    0;
		margin:   0 auto;
	}
	&:before {
		top:          -30px;
		height:       18px;
		border-style: solid solid none;
		border-width: 4px 4px 4px;
	}
	&:after {
		bottom:       40px;
		height:       1px;
		border-style: solid;
		border-width: 2px;
	}
	.heading,
	.sub-heading {
		text-transform: uppercase;
	}
	.heading {
		font-size:     48px;
		margin-bottom: 14px;
	}
	.sub-heading {
		font-size: 14px;
	}
}

.portfolio-description {
	margin-top: 70px;
	font-size:  12px;
}

.portfolio-navigation-wrap {
	text-align:    center;
	margin-bottom: 50px;
	.nav-previous,
	.nav-next,
	.portfolio-archive {
		display:     inline-block;
		width:       50px;
		height:      50px;
		line-height: 50px;
		border:      solid 1px #ddd;
	}
}

@media screen and (max-width: 480px){

}