.os-post {
	img {
		width: 100%;
	}
	.os-post-item .owl-wrapper .owl-item {
		padding-left:  0 !important;
		padding-right: 0 !important;
	}

	.common-post-wrapper{
		margin-bottom : 40px;
	}

	.os-post-slider {
		margin-left:  -15px;
		margin-right: -15px;
		.owl-wrapper .owl-item {
			padding-left:  15px;
			padding-right: 15px;
		}
	}
	.os-title {
		margin-bottom: 45px;
	}
	.os-post-item {
		&.format-video {
			.os-post-image {
				.hover-action {
					display:    none;
					visibility: hidden;
				}
			}
		}
	}
	.os-post-image {
		margin:   0;
		position: relative;
		overflow: hidden;
		margin-bottom : 25px;

		img{
			.easing-animation();
		}

		a.prettyPhoto {
			position:           absolute;
			top:                0;
			width:              56px;
			height:             55px;
			right:              0;
			line-height:        54px;
			font-size:          16px;
			text-align:         center;
			color:              #FFFFFF;
			opacity:            0;
			-webkit-transform:  scale(0.8);
			-moz-transform:     scale(0.8);
			-ms-transform:      scale(0.8);
			-o-transform:       scale(0.8);
			transform:          scale(0.8);

			-webkit-transition: all 0.3s linear;
			-moz-transition:    all 0.3s linear;
			-ms-transition:     all 0.3s linear;
			-o-transition:      all 0.3s linear;
			transition:         all 0.3s linear;
		}

		.hover-action {
			position:           absolute;
			top:                0;
			left:               0;
			right:              0;
			bottom:             0;
			.rgba-bg-color(@primary_color, .8);
			opacity:            0;

			a {
				color:      #fff;
				top:        0;
				position:   absolute;
				left:       0;
				right:      0;
				bottom:     0;
				text-align: center;
				i {
					width:                 48px;
					height:                48px;
					top:                   50%;
					position:              absolute;
					left:                  50%;
					margin-top:            -24px;
					margin-left:           -24px;
					line-height:           48px;
					font-size:             16px;
					-webkit-border-radius: 100%;
					-moz-border-radius:    100%;
					border-radius:         100%;
					border:                2px solid #fff;
				}
			}
		}
		&:hover {
			.hover-action {
				opacity:           1;
				-webkit-transform: scale(1);
				-moz-transform:    scale(1);
				-ms-transform:     scale(1);
				-o-transform:      scale(1);
				transform:         scale(1);
			}
			.entry-thumbnail {
				.entry-thumbnail_overlay {
					&:before {
						display: none;
					}
				}
				a.prettyPhoto {
					opacity:           1;
					-webkit-transform: scale(1);
					-moz-transform:    scale(1);
					-ms-transform:     scale(1);
					-o-transform:      scale(1);
					transform:         scale(1);
					z-index:           999;
				} 
			}
		}
	}
	.os-post-content {
		overflow: hidden;
		> a.os-post-title {
			font-family:    @primary_font;
			font-size:      14px;
			font-weight:    500;
			line-height:    1.8;
			color:          @text_color;
			display:        block;
			text-transform: uppercase;
			margin-bottom : 5px;
			&:hover {
				color:           @primary_color;
				text-decoration: none;
			}
		}
		p {
			font-family: @primary_font;
			color:       @text_color;
			line-height: 2.2;
		}
	}
	.entry-meta {
		>span{
			display : inline-block;
			color: @primary_color;
			font-size : 12px;
			a{
				color: @primary_color;
			}
		}

		>span:not(:first-child):before{
			content: " / ";
		}
		.post-categories{
			list-style: none;
		}
	}
	.owl-theme .owl-controls .owl-page {
		margin-top: 20px;
		span {
			background-color: #DDDDDD;
			width:            52px;
			height:           5px;
			.rounded(0);
			border:           0;
			margin-bottom:    0;
		}
		&.active span {
			background-color: @primary_color;
		}
	}
	.owl-theme .owl-controls {
		margin: 0;
	}
	.owl-theme .owl-controls .owl-buttons div {
		position:          absolute;
		-webkit-transform: translateX(0);
		-moz-transform:    translateX(0);
		-ms-transform:     translateX(0);
		-o-transform:      translateX(0);
		transform:         translateX(0);
		width:             32px;
		height:            32px;
		line-height:       32px;
		top:               50%;
		background:        rgba(0, 0, 0, .7);
		margin:            -16px 0 0;
		padding:           0;
		.rounded(0);
		i {
			font-size:   15px;
			line-height: 32px;
		}
		&.owl-prev {
			left: 0;
		}
		&.owl-next {
			right: 0;
		}
	}

	&.style2{
		.os-post-image{
			width : 170px;
			float : left;
			margin-top : 5px;
			margin-right : 15px;
		}
	}
}

@media (max-width: 992px) {
	.os-post{
		&.style2{
			.os-post-image{
				width : 100%;
				float : none;
				margin-top : 0;
				margin-right : 0;
			}
		}
	}
}

.embed-responsive.embed-responsive-16by9 {
	padding-bottom: 66.25%;
}

.embed-responsive.embed-responsive-blog-thumbnail {
	padding-bottom: 59.2%;
}

.embed-responsive.embed-responsive-blog-classic {
	padding-bottom: 41.0256%;
}