.os-service {
	&.col-3 {
		.os-service-item .os-service-content .service-excerpt {
			height:   120px;
			overflow: hidden;
		}
	}
	&.col-4 {
		.os-service-item .os-service-content .service-excerpt {
			height:   180px;
			overflow: hidden;
		}
	}
	&.col-2 {
		.os-service-item .os-service-content .service-excerpt {
			height:   100px;
			overflow: hidden;
		}
	}
	&.light {
		.os-title {
			color: #fff;
		}
	}
	&.title-no-border {
		.os-title {
			margin-bottom: 25px;
			&:after {
				display: none;
			}
		}
		.os-heading {
			&:after {
				display: none;
			}
		}
	}
	.os-heading {
		font-size:      20px;
		font-family:    @secondary_font;
		text-transform: uppercase;
		color:          @heading_color;
		margin-bottom:  30px;
		&:after {
			display:    block;
			height:     2px;
			content:    '';
			width:      40px;
			background: #ffbf00;
			margin-top: 20px;
		}
	}
	.os-service-item {
		padding: 30px 0;
		.os-service-thumb {
			position: relative;
			overflow: hidden;
			img {
				width: 100%;
			}
			.hover-action {
				position:           absolute;
				top:                0;
				left:               0;
				right:              0;
				bottom:             0;
				.rgba-bg-color(@primary_color, 0.8);
				opacity:            0;
				-webkit-transform:  scale(0);
				-moz-transform:     scale(0);
				-ms-transform:      scale(0);
				-o-transform:       scale(0);
				transform:          scale(0);
				-webkit-transition: all .3s linear;
				-moz-transition:    all .3s linear;
				-ms-transition:     all .3s linear;
				-o-transition:      all .3s linear;
				transition:         all .3s linear;
				a {
					color:      #fff;
					top:        0;
					position:   absolute;
					left:       0;
					right:      0;
					bottom:     0;
					text-align: center;
					i {
						width:       48px;
						height:      48px;
						top:         50%;
						position:    absolute;
						left:        50%;
						margin-top:  -24px;
						margin-left: -24px;
						line-height: 48px;
						font-size:   16px;
						.rounded(100%);
						border:      2px solid #fff;
					}
				}
			}
			&:hover {
				.hover-action {
					opacity:           1;
					-webkit-transform: scale(1);
					-moz-transform:    scale(1);
					-ms-transform:     scale(1);
					-o-transform:      scale(1);
					transform:         scale(1);
				}
			}
		}
		.os-service-content {
			margin-top: 30px;
			p {
				line-height: 2.2;
			}
			.service-excerpt {
			}
			.service-readmore {
				margin-top:     35px;
				display:        inline-block;
				font-family:    @primary_font;
				font-size:      13px;
				color:          #fff;
				background:     @primary_color;
				.rounded(3px);
				padding:        7px 27px;
				font-weight: 500;
				&:hover {
					background:      @secondary_color;
					text-decoration: none;
				}
			}
		}
	}
	&.style_2{
		.os-service-item {
			.os-service-content {
				.readmore-wrapper{
					text-align: right;
				}
				.service-readmore {
					margin-top:     35px;
					display:        inline-block;
					font-size:      13px;
					color:          @text_color;
					background:     transparent;
					.rounded(0);
					padding:        0;
					text-decoration: underline;
					&:hover {
						background:      transparent;
						color: @primary_color;
					}
				}
			}
		}
	}
}

.services-slideshow {
	padding-bottom: 50px;
	border-bottom:  1px solid @border_color;
	margin-bottom:  50px;
	#services-slider {
		position: relative;
		.owl-controls {
			margin-top: 0;
			.owl-prev, .owl-next {
				background-color: rgba(0,0,0,.9);
				width:            50px;
				height:           50px;
				line-height:      50px;
				color:            #fff;
				.rounded(0);
				top: 50%;
				margin: 0;
				margin-top: -25px;
				position: absolute;
				.transition-all(.3s);
				&:hover {
					background-color: #fff;
					color: #000;
				}
				i{
					font-size: 20px;
				}
			}
			.owl-prev{
				left: 0;
			}
			.owl-next{
				right: 0;
			}
		}

	}
	#services-carousel {
		padding: 20px 35px 0;
		.owl-item {
			padding: 0 15px;
			img {
				cursor:  pointer;
				opacity: .6;
			}
			&:hover {
				img {
					opacity: 1;
				}
			}
			&.synced {
				img {
					opacity: 1;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	#portfolio-carousel {
		padding: 20px 30px 0;
	}
}
.single-services{
	.site-content-page{
		padding-bottom: 80px;
	}
}