.hemelios-support{
	margin-bottom: 10px;
	text-align: center;
	.support-avata{
		width: 160px;
		height: 160px;
		.rounded(100%);
		margin: 0 auto;
		overflow: hidden;
		margin-bottom: 15px;
		img{
			display: block;
			max-width: 100%;
			height: auto;
			width: 100%;
		}
	}
	.support-entry-content{
		.name{
			font-size: 16px;
			margin-bottom: 5px;
			display: block;
			font-weight: 400;
			text-transform: uppercase;

		}
		.description{
			font-size: 14px;
			margin-bottom: 5px;
		}
		.social{
			a{
				display: inline-block;
				*display: inline;
				zoom: 1;
				padding: 0 10px;
				i{
					font-size: 25px;
				}
			}
		}
	}
}

