.viettitan-timeline{
	position: relative;
	overflow: hidden;
	margin: 0px auto;

	.spine {
		position: absolute;
		top: 0px;
		bottom: 100%;
		width: 4px;
		border-radius: 2px;
		background-color: @primary_color;
		-webkit-transition: bottom 0.5s linear;
		-moz-transition: bottom 0.5s linear;
		-ms-transition: bottom 0.5s linear;
		transition: bottom 0.5s linear;
		left: 50%;
		margin-left: -2px;
		&.animated {
			bottom: 0%;
		}
	}
	.timeline_element {
		position: relative;
		margin: 30px 0px;
		opacity: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 30px;
			height: 0px;
			border-top: 1px dashed @primary_color;
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: @primary_color;
			border: 3px solid #FFFFFF;
			box-shadow: 0px 1px 2px rgba(255, 159, 23, 0.32);
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		&.timeline_element_left {
			width: 50%;
			margin: 20px 0px;
			float: left;
			clear: left;
			-webkit-transform: translateX(20px);
			-moz-transform: translateX(20px);
			-mstransform: translateX(20px);
			transform: translateX(20px);
			&.animated {
				opacity: 1;
				-webkit-transform: translateX(0px);
				-moz-transform: translateX(0px);
				-ms-transform: translateX(0px);
				transform: translateX(0px);
			}
			&:before {
				right: 0px;
				top: 15px;
			}
			&:after {
				right: 0px;
				top: 10px;
				margin-right: -5px;
			}
		}
		&.timeline_element_right {
			width: 50%;
			margin: 20px 0px;
			float: right;
			clear: right;
			webkit-transform: translateX(-20px);
			-moz-transform: translateX(-20px);
			-ms-transform: translateX(-20px);
			transform: translateX(-20px);
			&.animated{
				opacity: 1;
				-webkit-transform: translateX(0px);
				-moz-transform: translateX(0px);
				-ms-transform: translateX(0px);
				transform: translateX(0px);
			}
			&:before {
				left: 0px;
				top: 35px;
			}
			&:after {
				left: 0px;
				top: 30px;
				margin-left: -5px;
			}
		}
	}
}

.timeline_element_box{
	overflow: hidden;
	background-color: #FFFFFF;
	border: 1px solid @primary_color;
	border-radius: 5px;
	color: #37404e;
	text-shadow: none;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	padding: 15px;
	.timeline_title {
		position: relative;
		overflow: hidden;

		font-size: 10px;
		text-transform: uppercase;
		margin-bottom: 15px;
		h3{
			font-size: 16px;
			margin: 0;
			padding: 10px 0;
			border-bottom: 1px solid #eee;
			color: #AAAAAA;
			a{
				color: inherit;
			}
		}

	}
	.timeline-description{
		overflow: hidden;
	}
	.timeline-thumb{
		position: relative;
		overflow: hidden;
		.img_overlay{
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			-webkit-transition: background 0.2s linear;
			-moz-transition: background 0.2s linear;
			-ms-transition: background 0.2s linear;
			transition: background 0.2s linear;
			i{
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 30px;
				height: 30px;
				margin: auto;
				cursor: pointer;
				opacity: 0;
				filter: alpha(opacity=0);
				-webkit-transition: all 0.2s linear;
				-moz-transition: all 0.2s linear;
				-ms-transition: all 0.2s linear;
				transition: all 0.2s linear;
				-webkit-transform: scale(0.5);
				-moz-transform: scale(0.5);
				-ms-transform: scale(0.5);
				transform: scale(0.5);
			}
		}
	}
}
.timeline_element_right{
	div.timeline_element_box{
		margin-left: 30px;
		.timeline-thumb{
			float: left;
		}
		.timeline-description{
			padding-left: 15px;
		}
	}
}
.timeline_element_left {
	div.timeline_element_box{
		margin-right: 30px;
		.timeline-thumb{
			float: right;
		}
		.timeline-description{
			padding-right: 15px;
		}
	}
}